@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  box-sizing: border-box;
}

body {
  margin: 0px
}

ul {
  padding: 0;
}

li {
  list-style: none;
}



html {
  font-family: sans-serif;
} */

