      html {
          font-family: sans-serif;
      }

      /* ***************header******************/

      header {
          height: 150px;
          background-color: #2c3e50;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .input-container {
          width: 60%;
          display: flex;
          justify-content: space-between;
      }

      .search-input {
          font-size: 1.1rem;
          outline: none;
          color: white;
          background-color: transparent;
          padding: 1rem 0;
          border: none;
          border-bottom: 2px solid white;
          width: 84%;
      }

      button {
          background-color: #44ad96;
          font-size: 1.1rem;
          color: white;
          border: none;
          cursor: pointer;
          padding: 1rem 2rem;
      }



/* code for main  */

      main {
          height: calc(100vh - 150px);
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: #01161E;
          ;
      }

      .weather-container {
          display: flex;
          gap: 1rem;
          align-items: center;
          height: 5rem;
      }

      .location {
          font-size: 2rem;
          margin-bottom: 1.6rem;
      }

      .condition {
          text-align: center;
      }