/* to provide styling -> select an element */
/* universal selector */
/* 
* {
    font-family: Arial, Helvetica, sans-serif;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* element selector */
/* h2 {
    color: lightgreen;
    background-color: gray;
    font-size: 1rem;
} */

/* span {
    font-size: 2rem;

}

p {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    line-height: 20px;
} */
/* class selector */
.para{
color:blue;
font-size: 20px;
}

#unique{
    color: red;
}
#unique2{
    color: green;
}
.some{
    font-style: italic;
}

.para.some{
    background-color: gray;
}