      html {
          font-family: sans-serif;
      }

      header {
          height: 100px;
          background-color: slategray;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      main {
          height: calc(100vh - 100px);
          background-color: darkslategray;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
      }

      .weather-container {
          display: flex;
          gap: 1rem
      }